<nav class="main-nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/About">About Us</a></li>
        <li><a href="/Services">Our Services</a></li>
        <li><a href="/Blog">Blog Gozef</a></li>
        <li><a href="/Contact">Contact Us</a></li>
    </ul>
</nav>
